@charset "utf-8";

body {	
	font: 13px Montserrat, sans-serif;
	line-height: 1.8;
}

#top-navbar {
	background-color: transparent;
	border: none;
}

#top-navbar a{
	font-size: 17px;
	color: #5a5050;
}

#bottom-navbar {
	background-color: #5a5050;
	height: 60px;
	padding: 10px;
	margin-bottom: 0px;
}
#bottom-navbar p{	
	color: #e5eec1;
	margin-top: 10px;
}

#list-individual-item {
	border: none;
}

#main-search-bar {
	position: relative;	
	top: 7%;	
	width: 70%;	
}

#landing-page-helloworld {
    position: relative;		
	width: 70%;	
}

#landing-page-helloworld h1 {
	font: 70px Montserrat, sans-serif;
	color: #5a5050;
	align-content: center;
}

#main-top-section {	
	height: 500px;
}

.form-control:focus {
  border-color: rgba(84,122,130,1.00);
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(84,122,130,1.00);
          box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(84,122,130,1.00);
}

.section-max-width {
  max-width:1000px; 
}

.bg, .bg-filter {
  position: absolute;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

.bg-filter {
  z-index: -99;
  opacity: 0.2;
  background: -webkit-linear-gradient(rgba(49, 224, 247, 1) 0%, rgba(90, 77, 184, 1) 100%);
  background: -moz-linear-gradient(rgba(49, 224, 247, 1) 0%, rgba(90, 77, 184, 1) 100%);
  background: -o-linear-gradient(rgba(49, 224, 247, 1) 0%, rgba(90, 77, 184, 1) 100%);
  background: linear-gradient(rgba(49, 224, 247, 1) 0%, rgba(90, 77, 184, 1) 100%);
}